/env
Simulation/static/files/bitgenerator.png
Simulation/static/files/channelestimation.png
Simulation/static/files/channelresponse.png
Simulation/static/files/constellationmap.png
Simulation/static/files/equalizerconst.png
Simulation/static/files/ifftoutput.png
Simulation/static/files/ofdmtxrx.png
Simulation/static/files/receivedbits.png
Simulation/static/files/receivedconst.png
Simulation/static/files/subcarriers.png
Simulation/__pycache__/__init__.cpython-311.pyc
Simulation/__pycache__/admin.cpython-311.pyc
Simulation/__pycache__/apps.cpython-311.pyc
Simulation/__pycache__/forms.cpython-311.pyc
Simulation/__pycache__/models.cpython-311.pyc
Simulation/__pycache__/module.cpython-311.pyc
Simulation/__pycache__/plot.cpython-311.pyc
Simulation/__pycache__/urls.cpython-311.pyc
Simulation/__pycache__/views.cpython-311.pyc
